[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = first create
[access "refs/*"]
	owner = group user/maybeeanyone02
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/maybeeanyone02
	label-Verified = -1..+1 group user/maybeeanyone02
	push = group user/maybeeanyone02
	read = group user/maybeeanyone02
	rebase = group user/maybeeanyone02
	removeReviewer = group user/maybeeanyone02
	submit = group user/maybeeanyone02
[access "refs/heads/*"]
	create = group user/maybeeanyone02
	push = +force group user/maybeeanyone02
	pushMerge = group user/maybeeanyone02
	read = group user/maybeeanyone02
[access "refs/tags/*"]
	push = group user/maybeeanyone02
	push = +force group user/maybeeanyone02
